spring:
  application:
    name: timeout
  
  main:
    web-application-type: none
  
  datasource:
    url: jdbc:postgresql://localhost:5432/sessaocompra
    username: app
    password: app
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 1
      minimum-idle: 1
      pool-name: TimeoutTaskPool

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

    show-sql: true
